body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(180, 231, 180);
}

.titulo {
    display: block;
    border: 10px solid green;
    border-radius: 10px;
    text-align: center;
    background-color: green;
    color: whitesmoke;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#p1 {
    display: block;
    position: relative;
    border: 5px solid rgb(106, 255, 47);
    padding: 8px;
    max-width: 600px;
    margin: auto;
}

#lin {
    position: relative;
    bottom: 146px;
    right: 20px;
}

.op a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: green;
}

.op a:hover {
    text-decoration: none;
    color: rgb(180, 231, 180);
    background-color: green; 
}

h2 {
    display: inline;
    position: relative;
    color: white;
    border: 5px solid green;
    background-color: green;
    border-radius: 6px;
}

#p2 {
    position: relative;
    max-width: 500px;
    left: 38px;
    bottom: -30px;
}

#fusca {
    position: relative;
    left: 783px;
    max-width: 350px;
    bottom: 387px;
}