@charset "UTF-8";
body {
    background-color: rgb(70, 68, 68);
    font-family: Arial;
    font-size: 15px;
    color: azure;
}
h1 {
    color: beige;
    position: relative;
    top: 20px;
    text-align: center;
}
h2 {
    color: blanchedalmond;
}