h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
    color:brown    
}
h2 {
    font-family: cambria;
    font-size: medium;
    color: rgb(0, 4, 255);
    font-style: initial;
}
p { font-family: Georgia;
     font-size: 12;
     color: rgb(199, 190, 63);
}

